
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Mynerve&family=Pacifico&display=swap');
:root { 
  --bg: #fec7d7; 
  --white: #ffffff; 
  --purple: #a786df; 
  --blue-dark: #0e172c; 
  --h1: 700 1.625rem/2rem Inter; 
  --body1-regular: 400 1rem/1.5rem Inter; 
  --body1-bold: 700 1rem/1.5rem Inter;    
}

body {
  font: var(--h1);
  margin: 0;
  background-color: var(--bg);

}

h1{
  font: var(--h1);
  color: var(--purple);
}

h2{
  font: var(--h1);
  size: 26px;
  line-height: 32px;
  color: var(--blue-dark);
  margin: 0%; 
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}


p{
  display: flex;
  color: var(--blue-dark);  
  font: var(--body1-regular);
  opacity: 0.8;
}

 .wrapper{  
  
  /*outline: 1px solid red;*/
  max-width:426px ;
  min-width:328px ;
  height: 100vh;
  margin: 0 auto;    
  display: flex;
  align-items: center;
}

.respuesta{
  display: none;
  box-sizing: border-box;
  width: 426px;
  height: 421.78px;  
  margin: 0 auto;
  padding: 40px;
  border: 2.35px solid var(--blue-dark);
  box-shadow: 4.71px 4.71px 0px var(--blue-dark);
  border-radius: 14.12px;
  background-color: var(--white);
}

.survey-component{
  /*display: none;*/
  box-sizing: border-box;
  width: 426px;
  height: max-content;
  margin: 0 auto;
  padding: 40px;
  border: 2.35px solid var(--blue-dark);
  box-shadow: 4.71px 4.71px 0px var(--blue-dark);
  border-radius: 14.12px;
  background-color: var(--white);
}

.grupo-1{
  width: 346px;
  height: 230px;
  
  
}

.elements{
  
  display: flex;
  justify-content:space-between;
  margin: 24px 0;
  margin-top: 24px;
  margin-bottom: 40px;
  }




.option{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  justify-content: center;
  width: 56px;
  height: 56px;
  border: 3px solid var(--blue-dark);
  border-radius: 58.83px;
  text-align: center;
  background: #FFFFFF;
  color: var(--blue-dark);
  font: var(--body1-bold);
  }

.option:hover{
  background-color: var(--purple);
  cursor: pointer ;
  transition: 0.4s all;
  position: relative;
  bottom: 2.5px;

}

.option:focus{  
  background-color: var(--blue-dark);
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: 0s all;
}

.send{
  display: flex;
  align-items: center;
  background-color: var(--blue-dark);
  font: var(--body1-bold);
  color: #ffffff;
  width: 346px;
  justify-content: center;
  height: 47.533447265625px;
  margin: 0;
  border-radius: 117.667px;
  margin: 40px auto;
  padding: 12px 14px 12px 19px;
  }


.survey-component form .send:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

/*.debugin{

}*/


@media (max-width:750px) {
  .survey-component { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 328px;
    height: 332.76px;
    padding:0px;
    border-radius: 14px;
    border: 24px solid blue;
  } 
.send{
  
  border: 3px solid var(--blue-dark);
  width: 280px;
  height: 47.53px;
  margin: 0 auto;
}
.grupo-1 {
  border: 1.5px solid red;
  width: 280px;
  height: 144px;

}
.elements{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  /*width: 280px;*/
  height: 46.93px;
  border: 0.2px solid violet;
  margin: 24px auto ;

}
.option{
  position: relative;
  display: flex;
  align-items: center;
  width: 40.12px;
  height: 40.93px;
  border: 3px solid var(--blue-dark);
  border-radius: 58.83px;
  padding: 16px;
  top: 2.15px;
  
}
}

#gracias{
  display: flex;
  width: 346px;
  height: 253.78px;
} 